:root {
  /* Used for texts (+ footer background) */
  --color-granite: #252629;
  /* Used for backgrounds (+ footer text color) */
  --color-foam: #ffffff;
  /* Used for buttons, icons, etc. */
  --color-nemo: #ff4a11;
  /* active color for buttons, icons, etc. */
  --color-nemo-mid: #ff5c29;
  /* hover color for buttons, icons, etc. */
  --color-nemo-dark: #e5430f;
  /* Used for borders and some backgrounds */
  --color-water-10: #e4e8f0;
}

.header {
  background-color: var(--color-water-10);
  height: 54px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.title {
  margin: auto;
  padding: 15px 10px 10px 10px;
  font-size: 18px;
}

.footer {
  background-color: var(--color-granite);
  color: var(--color-foam);
  height: 54px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.form {
  margin-top: 80px;
  display: grid;
  padding: 16px;
}

.form__title {
  font-size: 18px;
  text-align: center;
}

.labelForm {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.createButton {
  background-color: var(--color-nemo);
  color: white;
  padding: 10px 20px;
  border: none;
  display: block;
  border-radius: 3px;
  margin: 32px auto 0 auto;
  height: 48px;
}

.createButton:active {
  background-color: var(--color-nemo-mid);
}

.createButton:active {
  background-color: var(--color-nemo-dark);
}

.MottoInput {
  color: var(--color-water-10);
  height: 62px;
}

.NotesInput {
  color: var(--color-water-10);
  height: 124px;
}

/* === Tab Bar === */
.tabBar {
  display: flex;
  gap: 10px;
  margin: 80px 16px 48px 16px;
  align-items: center;
}

.allEntriesButton {
  background-color: var(--color-nemo);
  width: 25px;
  height: 18px;
  padding: 0 9px 0 9px;
  font-size: 12px;
  border-radius: 999px;
  border: none;
  color: var(--color-foam);
}

.allEntriesText {
  color: var(--color-nemo);
  font-size: 16px;
  font-weight: 700;
}
.FavoritesText {
  color: var(--color-granite);
  font-size: 16px;
  font-weight: 700;
}

.FavoritesButton {
  background-color: var(--color-water-10);
  width: 25px;
  height: 18px;
  padding: 0 9px 0 9px;
  font-size: 12px;
  border-radius: 999px;
  border: none;
  color: var(--color-granite);
}
